<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Index</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#"><img class="rounded-lg" height="50" width="50" src="img/hello.png" alt=""></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#"></a></li>
                <li><a href="#kalkulatori">Perdor Kalkulatorin</a></li>
                <li><a href="#kalkulatori">Formulat</a></li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>

<section class="home">
    </div>
</section>
<div  id="ngjyra" style="padding: 50px;">
    <div class="container midis">
        <div id="kalkulatori" class="row">
            <div class="col-8">
                <div class="forma" id="hedhjaepjerret">
                    <label>Kendi: [shkalle]</label>
                    <input type="text" v-model="kendi" style="width: 100%; border: 0; background-color: #f0f0f020;">
                    <label>Shpejtesia fillesatre: [m/s]</label>
                    <input type="text" v-model="shpejtesiafillestare" style="width: 100%; border: 0; background-color: #f0f0f020; ">
                    <div>
                        <h1 style="color: #09c105;">Rezultatet</h1>
                        <h1 style="color: white;"> y<sub>max</sub> = <img src="https://i.imgur.com/akQiiRH.png"> = {{ ymax }} [m]</h1>
                        <h1 style="color: white;"> x<sub>max</sub> = <img src="https://i.imgur.com/opBrpPf.png"> = {{ xmax }} [m]</h1>
                        <p style="color: white;">Trupi ka arritur y<sub>max</sub> gjate kohes {{ ymaxkoha }} [s] dhe x<sub>max</sub> gjate kohes {{ xmaxkoha }} [s]</p>
                    </div>

                </div>
                <div class="forma" id="reniaelire">
                    <label>Lartesia: [m]</label>
                    <input type="text" v-model="lartesia" style="width: 100%; border: 0; background-color: #f0f0f020;">
                    <div>
                        <h1 style="color: #09c105;">Rezultatet</h1>
                        <h1 style="color: white;"> Koha per te cilen trupi bie ne toke <img src="https://i.imgur.com/bJWZRAr.png"> = {{ koha }} [s]</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    const HedhjaEPjerret = {
        data() {
            return {
                shpejtesiafillestare: 0,
                kendi: 0,
                graviteti: 9.81
            }
        },
        computed: {
            // a computed getter
            ymax: function () {
                return (Math.pow(this.shpejtesiafillestare, 2)*Math.pow(Math.sin(this.kendi*Math.PI/180),2))/(2*this.graviteti);
                //           shpejtesia fillesatre^2          *          sin(Fi)^2                          /  2 * graviteti
            },
            xmax: function() {
                return (Math.pow(this.shpejtesiafillestare, 2)*Math.sin(2*this.kendi*Math.PI/180))/this.graviteti;
                //
            },
            ymaxkoha: function() {
                return (Math.sin(this.kendi*Math.PI/180)*this.shpejtesiafillestare/this.graviteti);
            },
            xmaxkoha: function(){
                return 2*this.ymaxkoha;
            }
        }
    }

    Vue.createApp(HedhjaEPjerret).mount('#hedhjaepjerret')

    const ReniaELire = {
        data() {
            return {
                lartesia: 0,
                graviteti: 9.81
            }
        },
        computed: {
            koha: function(){
                return Math.sqrt(2*this.lartesia/this.graviteti)
            }
        }
    }

    Vue.createApp(ReniaELire).mount('#reniaelire')

</script>



</body>
</html>
